/* Estilos para los inputs */
.user-box input {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    font-size: 16px;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    font-size: 12px;
    color: #f48003;
}

/* Estilos para el botón */
.btn {
    background: none;
    border: none;
    color: #f48003;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn:hover {
    color: #fff;
}

/* Estilos para la caja de login */
.login-box {
    /* Tus estilos existentes */
}