<!-- footer.html -->
<footer id="footer" class="bg-dark text-white mt-auto">
    <div class="container-fluid d-flex justify-content-between align-items-center py-3">
        <div class="footer-text">
        <h3>STYLOPETS ❤</h3>
        <p>LOS <span style="color: #BA6573;">❤</span> MAKINAS</p>
    </div>

    <div class="social d-flex justify-content-end">
        <a href="#" target="_blank" class="link mx-2">
        <img
            src="https://assets.codepen.io/9051928/codepen_1.png"
            alt=""
            class="social-icon"
        />
        </a>
    <a href="#" target="_blank" class="link mx-2">
        <img src="https://assets.codepen.io/9051928/x.png" alt="" class="social-icon" />
    </a>
    <a href="#" target="_blank" class="link mx-2">
        <img
            src="https://assets.codepen.io/9051928/youtube_1.png"
            alt=""
            class="social-icon"
        />
        </a>
    </div>
    </div>
</footer>