{% extends 'index.html' %}

{% block content %}
  <div class="login-box">
    <h2>Registro</h2>
    <form method="post" action="{% url 'registro' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      {% for field in form %}
        {{ field.errors }}

        {% if field.field.widget.input_type == "checkbox" or field.field.widget.input_type == "radio" %}
          <!-- Checkbox y Radio buttons -->
          <div class="radio-box">
            {{ field }}
            <label>{{ field.label }}</label>
          </div>
        {% else %}
          <!-- Campos de texto, select, etc. -->
          <div class="user-box">
            {{ field }}
            <label>{{ field.label }}</label>
          </div>
        {% endif %}
        
      {% endfor %}
      
      <button type="submit" class="btn btn-dark">Registrarse</button>
    </form>
  </div>
{% endblock %}

