body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    color: #333;
}

#grafico-ingresos,
#grafico-stock {
    margin: 20px auto;
    max-width: 80%;
}